<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.frxe.music.FrxeApplication"
        android:allowBackup="true"
        android:icon="@drawable/vitr_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vitr_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vitr">
        <activity
            android:name="com.bloodvitr.vitr.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
